.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.profile-photo-container {
    position: relative;
    background-image: url('../../data/profilePhoto.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.experience-container {
    display: flex;
    flex-direction: column;
}

.education-container {
    display: flex;
    flex-direction: column;
}